#getresponse-admin label {
  display: inline-block !important;
  width: 150px !important;
}
#getresponse-admin .description {
  display: inline;
}
#getresponse-admin .form-item {
  margin: 3px;
  padding: 0;
}
#getresponse-admin input,
#getresponse-admin select {
  margin-right: 9px;
}
#getresponse-admin #edit-left {
  float: left;
  margin-right: 30px !important;
  width: 700px;
}
#getresponse-admin #edit-right {
  float: left;
  width: 400px;
}
#getresponse-admin #edit-actions {
  clear: left;
}
#edit-getresponse-webformid {
  width: 120px !important;
}
#edit-getresponse-styleid {
  width: 126px !important;
}
#edit-getresponse-comment-label {
  width: 200px !important;
}
#getresponse-admin .GR_rss_ul {
  list-style: square;
}
#getresponse-admin .GR_rss_li {
  margin-left: 15px;
}
#getresponse-admin .GR_img_webform_id {
  background: url("webform_id.jpg") no-repeat scroll 50% 50% transparent;
  height: 317px;
  margin: 0 auto;
}
#getresponse-admin .sprite {
  background: url("sprite.png") no-repeat scroll 0 0 transparent;
}
#getresponse-admin .GR_ico {
  color: #373737;
  height: 16px;
  padding: 0 0 4px 24px;
  width: 16px;
}
#getresponse-admin .facebook-ico {
  background-position: 0 -6px;
}
#getresponse-admin .twitter-ico {
  background-position: 0 -30px;
}
#getresponse-admin .linkedin-ico {
  background-position: 0 -54px;
}
#getresponse-admin  .blog-ico {
  background-position: 0 -78px;
}
.block-getresponse {
  border: 0 !important;
  padding: 0 !important;
}
